<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for列表渲染</title>
    <script src="vue.js"></script>
</head>
<body>
<div id="for1">
    <ul>
        <li v-for="(item,index) in items">{{index}}: {{item}}</li>
    </ul>
</div>
<div id="for2">
    <ul>
        <li v-for="(value,key) in items">{{key}}: {{value}}</li>
    </ul>
</div>
<div id="for3">
    <ul>
        <li v-for="(value,key,index) in items">{{index}}. {{key}}: {{value}}</li>
    </ul>
</div>
</body>
<script>
    var for1 = new Vue({
        el: "#for1",
        data: {
            items: ['one', 'two', 'three']
        }
    });
    var data = {
        items: {
            one: '111',
            two: '222',
            three: '333'
        }
    };
    var for2 = new Vue({
        el: "#for2",
        data: data
    });
    var for3 = new Vue({
        el: "#for3",
        data: data
    })
</script>
</html>